@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;


    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

span {
    color: var(--main-color);
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img {
    position: relative;
    overflow: hidden;
}

.home-img img {
    width: 100%;
    position: relative;
    z-index: 1;
    animation: levitacao 3s infinite ease-in-out;
}

.home-img .borda-imagem {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: var(--main-color);
    z-index: 2;
    transform-origin: bottom;
    animation: borda-movimento 3s infinite ease-in-out;
}

@keyframes levitacao {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes borda-movimento {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(1.1); }
    100% { transform: scaleY(1); }
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

.about-img {
    border-left: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(233deg, transparent 50%, var(--main-color)) 1
}

home-img img, .about-img img {
    width: 100%;
}

.about {
    background-color: var(--bg-color-02);
}

.home-content, .about-content {
    width: 45%;
}

.home-content h1, .about-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem;
}

.home-content h3, .about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.portfolio h2,
.skills h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.portfolio {
    background-color: var(--bg-color-02);
}

.portfolio-container {
    display: grid;
    gap: 1.2rem;
}

.portfolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.06)
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.8rem;
}

.portfolio-layer p {
    margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1rem;
    color: var(--bg-color-02);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.social-media img {
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}

.skills {
    background-color: var(--bg-color-02);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.skill-box {
    background-color: var(--bg-color-01);
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    text-align: center;
}

.skill-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.skill-box h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.ver-mais {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.ver-mais a {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    margin-top: 1.2rem;
}

.ver-mais a:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}


@media (max-width: 868px) {
    .ver-mais {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        align-items: center;
    }

    .ver-mais a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .portfolio-box .portfolio-layer {
        padding: 0rem;
    }

    .portfolio-layer h4 {
        font-size: 1rem;
        line-height: 1rem;
    }

    .portfolio-layer p {
        font-size: 0.7rem;
        line-height: 0.9rem;
        margin: 0.2rem 0.5rem;
    }
    .portfolio-layer {
        padding: 1rem 1rem;
    }

    .portfolio-layer a {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .portfolio-layer a i {
        font-size: 0.9rem;
    }
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .about {
        text-align: center;
    }

}



@media (min-width: 576px) {
    .home-img, .about-img {
        width: 65%;
        max-width: 65%;
    }
}



@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img {
        max-width: 35%;
    }

    .home-content, .about-content {
        width: 50%;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }

    .portfolio-box {
        flex-grow: 1; 
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        justify-content: center;
    }

    form .input-box input {
        width: 49%;
    }
}



@media (min-width: 992px) {
    .home-img, .about-img {
        max-width: 35%;
    }

    
}



@media (min-width: 1200px) and (max-width: 1449px) {
    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    .portfolio-box {
        flex-grow: 1; 
    }

    .portfolio-box .portfolio-layer {
        padding: 1rem;
    }

    .portfolio-layer h4 {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    .portfolio-layer p {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 0.2rem 0.5rem;
    }
    .portfolio-layer {
        padding: 1rem 1rem;
    }

    .portfolio-layer a {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .portfolio-layer a i {
        font-size: 1rem;
    }
}

@media (min-width: 1450px) {
    .home-img, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    .portfolio-box {
        flex-grow: 1; 
    }

    .portfolio-box .portfolio-layer {
        padding: 0rem;
    }
}